<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Max players:</strong>
    <%= game.max_players %>
  </p>

  <p>
    <strong>Playing time:</strong>
    <%= game.playing_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>Already played:</strong>
    <%= game.already_played %>
  </p>

</div>
